body {
   background-image: url("images/ship.jpg");
   background-size: cover;
}
h1{
  text-align: center;
}
.grid1{
  margin-top: 70px;
  margin-left: 150px;
  cursor: pointer;

  border-collapse: collapse;
  border: 1px solid black;
}
.cell{
  border: 1px solid black;
  height: 30px;
  width: 30px;

}
.left{
  float: left;
}
.right{
  float: right;
}
.button{
}
.x{
  background-color: blue;
}
.o{
  background-color: red;
}
.battleShip{
  display: none;
  width: 10px;
  height: 18.4px;
  display: inline-block;
}
h2{
  text-align: center;
}
p{
  text-align: center;
}
p .attempts{
  text-align: center;
}
